<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <style type="text/css">
            .short-screenshot {
                height: 200px;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row page-header">
              <img src="../assets/wraith.jpg"/>
              <h1>List of screenshots for <%= location %> </h1>
            </div>
            <div class="row">
                <!-- <%= directories.length %> -->
                <div class="col-lg-2">
                    <div class="panel">
                        <div class="panel-heading">Screenshots:</div>
                        <ul class="list-group list-group-flush">
                            <% directories.keys.sort.each do |dir| %>
                                <li class="list-group-item"><a href="#<%=path%><%=dir%>"><%=dir%></a></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10">
                    <% directories.to_a.sort.each do |dir, sizes| %>
                        <div class="row">
                            <a name="<%= dir %>"></a>
                            <h2><%= dir %></h2>
                        </div>
                        <% sizes.to_a.sort.each do |size, files| %>
                            <div class="row">
                                <h3 class="col-lg-1 text-muted"><%=size%>px</h3>
                                <table cellpadding='10' cellspacing='10' bgcolor="#ffee88" border='1' bordercolor='black'>
                                <% files[:variants].each do |file| %>
                                    <tr><td>
                                    <div class="col-lg-3">
                                        <a href="<%=file[:filename]%>">
                                            <img class="short-screenshot img-thumbnail" src="<%=path%><%=file[:thumb]%>">
                                        </a>
                                    </div></td>
                                      <td>
                                        <div class="col-lg-3">
                                            <p class="text-center">Type: <%=file[:type]%></p>
                                            <p class="text-center">Engine: <%=file[:engine]%></p>

                                            <% if file[:type] == 'diff' %>
                                              <p class="text-center text-muted"><%=file[:diff_data] %> percent different</p>
                                            <%else %>
                                              <p class="text-center"><img src="../assets/<%=file[:platform]%>.jpg"/></p>
                                              <p class="text-center"><img src="../assets/<%=file[:browser]%>.jpg"/></p>
                                            <% end %>
                                        </div>
                                      </td></tr>
                                <% end %>
                                </table>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>
